<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScoreCard</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div class="scorecard">
        <form action="/" method="post">
            <h1 class="heading">SCORECARD📑</h1>
            <hr>
            <hr>
            <label for="id">
                <h3>Your Student Id</h3>
            </label>
            <input type="text" name=studId id="id" required>
            <label for="name">
                <h3>Enter Your Name</h3>
            </label>
            <input type="text" name=studName id="name" required>
            <label for="add">
                <h3>Enter Your Address</h3>
            </label>
            <input type="text" name=studAdd id="add" required>
            <label for="sub1">
                <h3> Enter Your English Score</h3>
            </label>
            <input type="number" name=sub1 id="sub1" max="100" required>
            <label for="sub2">
                <h3> Enter Your Science Score</h3>
            </label>
            <input type="number" name=sub2 id="sub2" max="100" required>
            <label for="sub3">
                <h3> Enter Your Maths Score</h3>
            </label>
            <input type="number" name=sub3 id="sub3" max="100" required>
            <label for="sub4">
                <h3> Enter Your History Score</h3>
            </label>
            <input type="number" name=sub4 id="sub4" max="100" required>
            <label for="sub5">
                <h3> Enter Your CS Score</h3>
            </label>
            <input type="number" name=sub5 id="sub5" max="100" required>
            <button class="btn" type="submit" name="submit">Submit 📂</button>
        </form>


    </div>

</body>

</html>